@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to UKG.HCM</h1>
    <p>This is an exercise project as part of a .NET Software Engineer interview at UKG</p>
</div>